@font-face {
    font-family: 'Lexend-Black';
    src: url('../fonts/Lexend/Lexend-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tile {
    width: 100px;
    height: 100px;
    background: #cdc1b4;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #776e65;
}

.tile-number {
    font-size: 32px;
    font-weight: bold;
    color: #e0dbdb;
    font-family: Lexend-Black;
    background: #a59687;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
}

.tile-number[data-value="2"] {
    background: #eee4da;
    color: #776e65;
}

.tile-number[data-value="4"] {
    background: #ede0c8;
    color: #776e65;
}

.tile-number[data-value="8"] {
    background: #f2b179;
    color: #f9f6f2;
}

.tile-number[data-value="16"] {
    background: #f59563;
    color: #f9f6f2;
}

.tile-number[data-value="32"] {
    background: #f67c5f;
    color: #f9f6f2;
}

.tile-number[data-value="64"] {
    background: #f65e3b;
    color: #f9f6f2;
}

.tile-number[data-value="128"] {
    background: #edcf72;
    color: #776e65;
}

.tile-number[data-value="256"] {
    background: #edcc61;
    color: #776e65;
}

.tile-number[data-value="512"] {
    background: #edc850;
    color: #776e65;
}

.tile-number[data-value="1024"] {
    background: #edc53f;
    color: #776e65;
}

.tile-number[data-value="2048"] {
    background: #edc22e;
    color: #776e65;
}